.sidebarMenu {
    margin-top: 0px;
    margin-left: -15px;
    background-color: #343a40;
    height: 800px;
}

body {
    background-image: url(https://docs.google.com/uc?id=1exfsTzKVkavUiBL1VLF2bXRNT6Xf5FD6);
}
