.sidebarMenu {
    margin-top: 0px;
    margin-left: -15px;
    background-color: #343a40;
    height: 800px;
}

body {
    background-image: url(https://doc-14-7o-docs.googleusercontent.com/docs/securesc/je5tmjp1lmiag296orv7bs5v897l6df2/n17mb913gmmragacqa95k5o2lj7o48c5/1579039200000/09401388256139593411/09401388256139593411/1exfsTzKVkavUiBL1VLF2bXRNT6Xf5FD6?authuser=0);
}
